.gitignore
connector/pcb/$savepcb.brd
connector/pcb/Jaguar-Connector.bak
connector/pcb/Jaguar-Connector-cache.bak
pcb/$savepcb.brd
pcb/cpu.bak
pcb/ft232.bak
pcb/Injectors.bak
pcb/inputs.bak
pcb/Jaguar.bak
pcb/Jaguar-cache.bak
pcb/Outputs.bak
pcb/PowerSupplies.bak
kicad/
Digi-key_-_Online_Order_Summary.pdf
docs/Jaguar-Assembly-Manual.odt

